.row{
padding-right: 10px;
align-items: center;
justify-content: center;
}

.col-4{
    text-align: center;
    justify-content: center;
}

.col-8{
    padding-top: 10px;
}

.row-2{
    padding-left: 30px;
}